/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  body {
    background-color: #f3f3f3;

  }

  .main-nav {
    width: 100%;
  }

  nav {
    text-align: center;
  }

  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
   color: #3d3d3d;
   font-size: 1.25em;
   font-weight: bold;
   text-align: center;
   padding: 10px;
   margin: 10px;
   background-color: #f8f8f8;
  }

li a {
  text-align: center;
  color: #464444;
  font-weight: bold;
  text-decoration: none;
}

#student-name {
  font-size: 2.5em;
  font-weight: bold;
  background-color: #f3f3f3;
}

#profile-image {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-size: .95em;
  text-align: center;
  color: #a0a0a0;
  width: 100%;
}

#portfolio {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 60px;
  background-color: #f7f7f7;

}

#contact {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

p a {
  font-weight: bold;
  text-decoration: none;
}

p > a:active {
  color: #3d3d3d;
}

.images {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

h2 {
  font-weight: 500;
  color: #727272;
  padding-top: 10px;
}

h3 {
  text-align: center;
}

h4 {
  color: #666666;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#phone-and-email {
  padding-top: 15px;
  padding-bottom: 15px; 
}

#student-footer {
  float: left;
  display: inline;
  font-size: .9em;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f3f3f3;
}

.footer-links {
  float: right;
  display: inline;
  font-size: .9em;
  padding-top: 10px;
  background-color: #f3f3f3;
}

#back-to-top {
  float: right;
  display: inline;
  font-size: .9em;
  padding-top: 10px;
  background-color: #f3f3f3;
}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #dadada;
    margin: 1em 0; 
    padding: 0;
}

a:link {
  color: #7e7e7e;
} 




/*  ===================================
            Media Queries
======================================  */

@media (max-width: 320px) {
 
  #home-footer, #portoflio-footer, #contact-footer {
    display: none;
    visibility: hidden;
    }
  }
  
@media (min-width: 320px) and (max-width: 767px) {
  #home-footer, #portoflio-footer, #contact-footer {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  
  div li {
    display: inline;
    text-align: center;   
  }

  ul {
    width: 400px;
    margin: 10px auto;
  }

  #profile-image {
    float: right;
    border: solid red 3px;
  }

  #profile-content p {
    padding-top: 20px;
    text-align: left;
  }

  #profile-content {
    float: left;
    border: solid red 3px;
  }

  .column {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
  }

  #contact-text {
    width: 60%;
    display: inline-block;
  }

  #back-to-top {
    display: none;
    visibility: hidden;
  }

  @media (min-width: 1024px) {
    
    header h4 {
      float: left;
      vertical-align: top;
    }

    #profile-image {
      float: right;
      border: solid red 3px;
    }

    .nav      {
      float: right;
      display: inline;
      font-size: .9em;
      padding-top: 10px;
      background-color: #f3f3f3;
    }

    div li {
      display: inline;
      text-align: center;   
    }
  
    ul {
      width: 400px;
      margin: 10px auto;
    }
      
    .column {
      display: inline-block;
      width: 33%;
      margin-right: -4px;
      vertical-align: top;
      padding-left: 1em;
      padding-right: 1em;
    }
  
    #contact-text {
      width: 60%;
      display: inline-block;
    }
  
    #back-to-top {
      display: none;
      visibility: hidden;
    }


}